<!-- product section start -->
<div class="product_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="product_title">Our Products</h1>
                <p class="product_text">
                    "Discover your ultimate beauty essentials with BeautyKit – where quality meets elegance."
                </p>
            </div>
        </div>
        <div class="product_section_2 layout_padding">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Beauty Bursh</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="~/newfolder/images/img-1.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Foundation Brush</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="~/newfolder/images/img-2.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Mascaras</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="~/newfolder/images/img-3.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Makeup Organizers</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="~/newfolder/images/img-4.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Essential Oils</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="~/newfolder/images/img-5.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Lipsticks</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="~/newfolder/images/img-6.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Loose Powders</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="~/newfolder/images/img-7.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Compacts</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="~/newfolder/images/img-8.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">BLush Ons</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="~/newfolder/images/img-9.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Serums</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="~/newfolder/images/img-10.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Classic Lipstick Deals</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="~/newfolder/images/img-11.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="product_box">
                        <h4 class="bursh_text">Eyeliners</h4>
                        <p class="lorem_text">incididunt ut labore et dolore magna aliqua. Ut enim </p>
                        <img src="~/newfolder/images/img-12.png" class="image_1">
                        <div class="btn_main">
                            <div class="buy_bt">
                                <ul>
                                    <li class="active"><a href="#">Buy Now</a></li>
                                    <li><a href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <h3 class="price_text">Price $30</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seemore_bt"><a href="#">See More</a></div>
        </div>
    </div>
</div>
<!-- product section end -->
